<div class="container mt-4">
    <div style="text-align: center">

        <div class="row">
            <div class="col-6 col-md-2">
                <a asp-area="Engineering" asp-controller="Admin" asp-action="TimeTrackerReports" class="btn btn-outline-primary bg-gradient mb-5 fw-semibold btn-sm text-uppercase">
                    <small>Back</small>
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <h3><i class="fa fa-modx"></i></h3>
                <a asp-area="Admin" asp-controller="Engineering" asp-action="ABizon" class="btn">
                    <i class="bi bi-cpu"></i> Anthony Bizon
                </a>
            </div>
            <div class="col-md-3">
                <h3><i class="fa fa-magnet"></i></h3>
                <a asp-area="Admin" asp-controller="Engineering" asp-action="DZielke" class="btn ">
                    <i class="bi bi-pencil"></i> Darren Zielke
                </a>
            </div>
            @*<div class="col-md-3">
            <h3><i class="fa fa-modx"></i></h3>
            <a asp-area="Admin" asp-controller="Order" asp-action="ClosedOrderReport" class="btn">
            <i class="bi bi-cpu"></i> Closed Orders
            </a>
            </div>*@
            @*<div class="col-md-3">
            <h3><i class="fa fa-handshake-o" aria-hidden="true"></i></h3>
            <a asp-controller="Home" asp-action="SupplyChain" class="btn">
            <i class="bi bi-globe"></i> Supply Chain
            </a>
            </div>
            <div class="col-md-3">
            <h3><i class="fa fa-eye"></i></h3>
            <a asp-controller="Home" asp-action="Quality" class="btn ">
            <i class="bi bi-clipboard-check-fill"></i> Quality
            </a>
            </div>
            <div class="col-md-3">
            <h3><i class="fa fa-magnet"></i></h3>
            <a asp-controller="Home" asp-action="Engineering" class="btn ">
            <i class="bi bi-pencil"></i> Engineering
            </a>
            </div>*@
        </div>
        <br>
        <br>

    </div>

</div>
