@model Inventory

<form method="post">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Category</h2>
            <hr />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.PartNumber" class="p-0">Part Number</label>
            <input asp-for="Product.PartNumber" disabled class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="FloLocation.LocationName" class="p-0">Location</label>
            <input asp-for="FloLocation.LocationName" disabled class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="StartQoh" class="p-0">StartQoh</label>
            <input asp-for="StartQoh" disabled class="form-control" />
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger form-control">Delete</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Inventory" asp-action="Index" class="btn btn-secondary border form-control">
                    Back to List
                </a>
            </div>
        </div>
    </div>

</form>
