<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page - Flodraulic Portal</title>

    <link href="/Content/css?v=adtfa28cCxe9bNCEjEz7zi5EAtXK-o_GVzznmU-iBdI1" rel="stylesheet" />

    <script src="/bundles/modernizr?v=inCVuEFe6J4Q07A0AcRsbJic_UE5MwpRMNGcOtk94TE1"></script>

    <script src="/bundles/lib?v=fmsNBgU0FaORPxTSSlKQ0vO5xdKHIXQ656J6e9x17Rs1"></script>

</head>
<body ng-app="MyApp">
    <div class="jumbotron">
        <div style="text-align: center">
            <div class="row">
                <br />
                <div class="col-11 text-left">
                    @*<img src="/Images/flodraulic.jpg" alt="image">*@
                </div>
            </div>
            <br />
            <img src="/images/car4.png" class="img-responsive center-block" />
            <br />
            <p class="lead">Connecting our plants to our customers the world over.</p>
            <p>
                <a href="https://flodraulic.com" class="btn btn-primary btn-lg">Homepage &raquo;</a>
            </p>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <h3>Customer First Mindset</h3>
                    <p>We strive daily to service our customers better.</p>
                </div>
                <div class="col-md-4">
                    <h3>Data Driven Decisions</h3>
                    <p>Good information leads to good decisions. The decisions we make are always data driven.</p>
                </div>
                <div class="col-md-4">
                    <h3>Global Communication</h3>
                    <p>This site allows our companies to communicate, real-time, worldwide.</p>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p></p>
    </footer>


    <script src="/bundles/jquery-3.3.1.js"></script>

    <script src="/bundles/jqueryval?v=x63JhYAtPoWfuvvzOG4ie0IbeC8KtI5Q_Ln6iJWChUE1"></script>
</body>
</html>