@model List<Ticket>
@using flodraulicproject.Utility

<div class="row">
    <div class="col-6 col-md-2">
        @if (User.IsInRole(SD.Role_Admin))
        {
            <a asp-area="Customer" asp-controller="Home" asp-action="LandingPage" class="btn btn-outline-primary bg-gradient mb-5 fw-semibold btn-sm text-uppercase">
                <small>Back</small>
            </a>
        }
        else
        {
            <a asp-area="Customer" asp-controller="Home" asp-action="LandingPageCryo" class="btn btn-outline-primary bg-gradient mb-5 fw-semibold btn-sm text-uppercase">
                <small>Back</small>
            </a>
        }
    </div>
</div>

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="col-6">
            <div class="row">
                <h2 class="text-primary">Ticket List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Ticket" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create New Ticket
                </a>
            </div>
        </div>
    
    <table id="tblData" class="table table-bordered table-striped" width="100%">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Issue
                </th>
                <th>
                    Status
                </th>
                <th>
                    Notes
                </th>
                <th></th>
            </tr>
        </thead>
    </table>
    </div>
</div>
@section Scripts{
    <script src="~/js/ticket.js"></script>
}