<div class="container mt-4">
    <div style="text-align: center">
        <div class="row">
            <br />
            <div class="col-11 text-left">
                <img src="/Images/matheson.png" alt="image">
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-md-3">
                <h3><i class="fa fa-paper-plane"></i></h3>
                <a asp-controller="Home" asp-action="Reports" class="btn ">
                    <i class="bi bi-pencil"></i> Reports
                </a>
            </div>
            <div class="col-md-3">
                <h3><i class="fa fa-handshake-o" aria-hidden="true"></i></h3>
                <a asp-area="Customer" asp-controller="Home" asp-action="WorkInstruction" class="btn">
                    <i class="bi bi-globe"></i> Work Instructions
                </a>
            </div>
            <div class="col-md-3">
                <h3><i class="fa fa-eye"></i></h3>
                <a asp-area="Customer" asp-controller="Home" asp-action="ServiceManual" class="btn">
                    <i class="bi bi-clipboard-check-fill"></i> Service Manuals
                </a>
            </div>
        </div>
        <br>
        <br>
        <br />
        <br>
        <div class="row">
            <div class="col-md-3">
                <h3><i class="fa fa-paper-plane"></i></h3>
                <a asp-controller="Home" asp-action="Reports" class="btn ">
                    <i class="bi bi-pencil"></i> Reports
                </a>
            </div>
            <div class="col-md-3">
                <h3><i class="fa fa-paper-plane"></i></h3>
                <a asp-area="Admin" asp-controller="" asp-action="" class="btn ">
                    <i class="bi bi-pencil"></i> Admin Area
                </a>
            </div>

        </div>
    </div>

</div>
