@model EngLogCommentVM

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-black py-2"> @(Model.EngLogComment.Id != 0 ? "Update" : "Create") Comment</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <input hidden asp-for="EngLogComment.Id" />
            <input hidden asp-for="EngLogComment.EngineeringLogId" />
            <div class="row">
                <div class="col-10">
                    <div class="border p-3">
                        @*<div asp-validation-summary="ModelOnly"></div>*@
                        <div class="form-floating py-2 col-12">
                            <input asp-for="EngLogComment.EngineeringLogId" class="form-control border-0 shadow" readonly="true" />
                            <label asp-for="EngLogComment.EngineeringLogId" class="ms-2"></label>
                            <span asp-validation-for="EngLogComment.EngineeringLogId" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="EngLogComment.Id" class="form-control border-0 shadow" readonly="true" />
                            <label asp-for="EngLogComment.Id" class="ms-2"></label>
                            <span asp-validation-for="EngLogComment.Id" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Name" class="form-control border-0 shadow" readonly="true" />
                            <label asp-for="Name" class="ms-2"></label>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="EngLogComment.CreatedBy" class="form-control border-0 shadow" readonly="true" />
                            <label asp-for="EngLogComment.CreatedBy" class="ms-2"></label>
                            <span asp-validation-for="EngLogComment.CreatedBy" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="EngLogComment.DateCreated" class="form-control border-0 shadow" readonly="true" />
                            <label asp-for="EngLogComment.DateCreated" class="ms-2"></label>
                            <span asp-validation-for="EngLogComment.DateCreated" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="EngLogComment.ModifiedBy" class="form-control border-0 shadow" readonly="true" />
                            <label asp-for="EngLogComment.ModifiedBy" class="ms-2"></label>
                            <span asp-validation-for="EngLogComment.ModifiedBy" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="EngLogComment.DateModified" class="form-control border-0 shadow" readonly="true" />
                            <label asp-for="EngLogComment.DateModified" class="ms-2"></label>
                            <span asp-validation-for="EngLogComment.DateModified" class="text-danger"></span>
                        </div>
                        <hr />
                        <div class="form-floating py-2 col-12">
                            <input asp-for="EngLogComment.Comment" class="form-control border-0 shadow" />
                            <label asp-for="EngLogComment.Comment" class="ms-2"></label>
                            <span asp-validation-for="EngLogComment.Comment" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <input asp-for="EngLogComment.Notes" class="form-control border-0 shadow" />
                            <label asp-for="EngLogComment.Notes" class="ms-2"></label>
                            <span asp-validation-for="EngLogComment.Notes" class="text-danger"></span>
                        </div>
                        <div class="row pt-2">
                            <div class="col-6 col-md-3">
                                @if (Model.EngLogComment.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control">Create</button>
                                }
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="EngineeringLog" asp-action="EngLogComment" asp-route-id="@ViewBag.EngineeringLogId" class="btn btn-secondary border form-control">
                                    Back to List
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>

    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}